In [1]:
import pandas as pd

# load the datasets
cleaned_rainfall = pd.read_csv("cleaned_rainfall_data.csv")
cleaned_urban_extent = pd.read_csv("urbanextent_kampala_addis_cleaned.csv")
cleaned_flood_water_extent = pd.read_csv(
    "yearly_flood_water_extent_kampala_addis_2015_2020.csv"
)

# Normalize the column names
cleaned_rainfall.columns = cleaned_rainfall.columns.str.lower().str.replace(" ", "_")
cleaned_urban_extent.columns = cleaned_urban_extent.columns.str.lower().str.replace(
    " ", "_"
)
cleaned_flood_water_extent.columns = (
    cleaned_flood_water_extent.columns.str.lower().str.replace(" ", "_")
)

# Merge flood water extent with rainfall data
merged_data = pd.merge(
    cleaned_flood_water_extent,
    cleaned_rainfall,
    on=["year", "city"],
    how="outer",
)

# Merge the urban extent data
merged_data = pd.merge(
    merged_data, cleaned_urban_extent, on=["year", "city"], how="outer"
)

# Display the first few rows of the merged dataset
merged_data.head()

   year         city  flood_water_extent_(km^2)  rainfall_mm  urban_area_sqkm
0  2015  Addis Ababa                1161.517373   768.009428       205.969394
1  2015      Kampala                1789.580176  1271.579796       263.680897
2  2016  Addis Ababa                1532.617001  1164.380821       208.707991
3  2016      Kampala                2217.205481  1051.015188       269.156316
4  2017  Addis Ababa                1377.904746  1299.103063       211.197625

In [4]:
# Save the merged dataset to a new CSV file
merged_data.to_csv("merged_flood_rainfall_urban_extent.csv", index=False)